<!-- app/templates/admin/users/user.html -->
{% import "bootstrap/utils.html" as utils %}

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_aisle %}
        Add Aisle
    {% else %}
        Edit Aisle
    {% endif %}
{% endblock %}
{% block body %}
{% if 'edit_aisle_sec' in secs %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <div class="center">
            {% if add_aisle %}
                <h1>Add Aisle</h1>
            {% else %}
                <h1>Edit Aisle</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
            <br>
            <a class="btn btn-warning" href="{{ url_for('admin.list_aisles', warehouse=warehouse) }}">BACK</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}